#LangChain Core
langchain
langchain-core

#OpenAi Integration
langchain-openai
openai

#Anthropic Integration
langchain-anthropic

#Google Gemini Integration
langchain-google-genai
google-generativeai

## HuggingFace Integration
langchain-huggingface
transformers
huggingface-hub

## environment variables management
python-dotenv

# Machine Learning Libraries
numpy
pandas
scikit-learn
